html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

table.weapontable {
    border-collapse: collapse;
    border: 1px solid;
    width: 100%;
    color: black;
    font-family: Arial;
}

    table.weapontable tr:nth-child(odd) {
        background-color: Lightblue;
    }

    table.weapontable td.title {
        font-family: "Arial black";
        background-color: black;
        color: white;
        font-weight: bold;
        font-size: 28px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    table.weapontable th {
        background-color: white;
        font-weight: bold;
        vertical-align: bottom;
        padding-left: 3px;
        padding-right: 3px;
    }

        table.weapontable th.misc {
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            text-align: center;
        }

        table.weapontable th.normal {
            border-bottom: 1px solid #000;
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            text-align: center;
        }

        table.weapontable th.normalleft {
            border-bottom: 1px solid #000;
            border-left: 1px solid #000;
            border-right: 1px solid #000;
            text-align: left;
        }

        table.weapontable th.cornerleft {
            border-left: 1px solid #000;
            border-bottom: 1px solid #000;
        }

        table.weapontable th.cornerright {
            border-right: 1px solid #000;
            border-bottom: 1px solid #000;
        }
    table.weapontable td {
        color: black;
        text-align: center;
        font-weight: normal;
        padding-left: 3px;
        padding-right: 3px;
        vertical-align: top;
    }
        table.weapontable td.borderleft {
            border-left: 1px solid #000;
        }
        table.weapontable td.borderright {
            border-right: 1px solid #000;
        }
        table.weapontable td.bordersides {
            border-left: 1px solid #000;
            border-right: 1px solid #000;
        }
        table.weapontable td.left {
            text-align: left;
        }

.weapontablerow:hover {
    background-color: cornflowerblue !important; /* Change to desired hover background color */
    cursor: pointer;
}
table tr.weapontablerow {
    transition: background-color 0.1s ease; /* Optional: add smooth transition */
}

.card a {
    text-decoration: none;
}