@using _40k2ed.Models.EntityModels
<div class="container">
    <div class="align-content-center text-center p-3">
        <h1>Factions of the 41st Millennium</h1>
    </div>    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-6 g-1">
        @foreach (Faction faction in Model)
        {
            <div class="col d-flex justify-content-center">
                <a asp-controller="Faction" asp-action="FactionUnits" asp-route-factionId="@faction.FactionId" class="text-center" style="text-decoration: none;">
                    <div class="card align-middle p-2 bg-primary-subtle" style="width: 210px; height: 250px;">
                        <img src="@($"image/faction/icon/{faction.Name}.svg")" class="card-img-top p-2" alt="@faction.Name" style="width: 100%; min-height:150px; max-height: 170px; height: auto;">
                        <div class="card-body align-middle">
                            <h5 class="card-title">@faction.Name</h5>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
